@font-face {
  font-family: 'JetBrainsMono NF';
  src: url('fonts/JetBrainsMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin:0;
    background-color:white;
    font-family: 'JetBrainsMono NF', monospace;
}

header{
    position:fixed;
    margin:0;
    height:50px;
    width:100%;
    background-color:#9EA799;
}
.back_arrow{
    /* font-family:'JetBrainsMono Nerd Font Mono'; */
    content:"<-";
    border-radius:20px;
    padding:6px;
    background-color:#eee7;
    position:fixed;
    top:0px;
    left:0px;
    cursor:default;
}
.back_arrow:hover{
    background-color:#eeef
}
h1{
    text-align:center;
}
.header_place_holder{
    margin:0;
    height:50px;
    width:100%;

}
.item{
    text-align:center;
}
.item p{
    font-size:20px;
    font-family:
}
.item img{
    height:10%;
    border-radius:10px;
}
.item span{
    padding:25px;
    margin:25px 25px 0px 25px ;
    display:inline-block;
    background-color:#7D7D7DAB;
    border-radius:10px;

}
